.MainLayout {
  @apply w-full h-full;
  @apply overflow-y-auto;

  height: 100vh;

  &-inner {
    @apply mx-auto;
    @apply p-20 pb-40;
    @apply bg-custom-black-12;
    @apply overflow-x-hidden;

    max-width: 720px;
    min-height: 100%;
  
    &-header {
      @apply px-16;
      
      &-title {
        font-size: 40px;
        font-family: 'Permanent Marker', cursive, sans-serif;
      }

      &-description {
        @apply pl-28;

        word-break: keep-all;
        font-size: 28px;
        font-family: 'East Sea Dokdo', cursive, sans-serif;
      }
    }

    &-actions {
      @apply relative;
      
      &-decorator {
        @apply mt-40;
        @apply bg-custom-gray-33;

        width: 200%;
        height: 10px;
        transform-origin: 0;
        transform: rotate(-5deg) translateX(-30px);
      }

      &-button {
        @apply block;
        @apply ml-auto;

        transform: translateY(-80%);
      }
    }

    &-main {
      //

      &-intro {
        @apply mb-40;
        @apply px-20;
      
        &-list {
          //

          &-item {
            @apply relative;
            @apply mt-16;
            @apply pl-16;
      
            &:first-child {
              @apply mt-0;
            }
      
            &::before {
              @apply w-8 h-8;
              @apply block;
              @apply absolute;
              @apply bg-white;
              
              content: "";
              top: 50%;
              left: 0;
              transform: translateY(-50%);
      
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
}