.Study {
  @apply mt-40;
  @apply h-full;
  @apply relative;

  &-items {
    @apply mt-40;

    & > * {
      @apply mt-20 mx-auto;

      max-width: 600px;

      &:first-child {
        @apply mt-0;
      }
    }
  }

  &-actions {
    @apply mt-20;
    @apply text-right;
    
    &-add {
      @apply relative;
      @apply mr-20;

      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 5px solid #fff;

      @mixin bar($width, $height) {
        @apply absolute;
        @apply bg-white;

        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: $width;
        height: $height;
        border-radius: 8px;
      }

      &::before {
        @include bar(70%, 5px);
      }

      &::after {
        @include bar(5px, 70%);
      }
    }
  }
}