.Home {
  @apply flex flex-col items-center;

  &-introduce {
    //
    
    &-item {
      @apply relative;
      @apply mt-16;
      @apply pl-16;

      &:first-child {
        @apply mt-0;
      }

      &::before {
        @apply w-8 h-8;
        @apply block;
        @apply absolute;
        @apply bg-white;
        
        content: "";
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        border-radius: 50%;
      }
    }
  }

  &-description {
    //

    &-item {
      @apply mt-20;

      &:first-child {
        @apply mt-0;
      }

      &-textWrapper {
        //

        &-text {
          //
        }
      }
    }
  }
}